
*{
    box-sizing: border-box;
}
  
.homePageBackground{
    background: url('http://clipart-library.com/images/kiKopajeT.jpg') fixed;
  
    background-repeat: no-repeat;
    background-size: cover;
}

.searchPageBackground{
    background-color: rgb(186, 186, 247); 
}


.searchPage{
    font-size: 30px;
    margin: 20px;
}

.searchPage h1{
    margin-bottom: 20px;
}


.searchPage-header-desc{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-item{
    font-size: 25px;
}

.js-search-results{
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
}


.result{   
    padding: 20px;
    margin: 20px;  
    margin-bottom: 5px; 
    border: 5px;
    background-color: rgb(234, 234, 118);
    flex: 1  1 30%;    
}


.bold{
    font-weight: bold;
}

.result .bold{
    font-family: 'Slabo 27px', serif;
}

.homePage{
    display: block;
    text-align: center;        
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    color: white;
    height: 100vh;
}

button{
    font-size: 25px;
    width: 200px;
    height: 60px; 
    margin: 20px;
    background-color: yellow;
    color: black;
    font-style: italic;
        
}

.description{
    font-family: 'Open Sans', sans-serif;
}


button:hover {
    background-color: blue;
    border-color: transparent;
    color: white;
	cursor: pointer;
}

  
@media only screen and (min-width: 320px) {

    .result
    {  
        width: 100%;
    }
  }


  @media only screen and (min-width: 768px) {

    .result
    {  
        width: 49.999%;        
    }
  }


  @media only screen and (min-width: 1280px) {

    .result
    {  
        width: 33.3333%;        
    }
  }
